<link rel="stylesheet" href="~/Content/css/green.css" />
<style>
table.jambo_table {
    border: 1px solid rgba(221,221,221,0.78)
}

table.jambo_table thead {
    background: rgba(52,73,94,0.94);
    color: #ECF0F1
}

table.jambo_table tbody tr:hover td {
    background: rgba(38,185,154,0.07);
    border-top: 1px solid rgba(38,185,154,0.11);
    border-bottom: 1px solid rgba(38,185,154,0.11)
}

table.jambo_table tbody tr.selected {
    background: rgba(38,185,154,0.16)
}

table.jambo_table tbody tr.selected td {
    border-top: 1px solid rgba(38,185,154,0.4);
    border-bottom: 1px solid rgba(38,185,154,0.4)
}

.table-striped tr.even.row_selected td {
    background-color: #B0BED9 !important
}

.table-striped tr.odd.row_selected td {
    background-color: #9FAFD1 !important
}

</style>

<div class="clearfix"></div>



<div class="col-md-12 col-sm-12 col-xs-12">
    <div class="x_panel">
        <div class="x_title">
            <h2>Users list <small>newcomers</small></h2>
            <ul class="nav navbar-right panel_toolbox">
                <li>
                    <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                    <ul class="dropdown-menu" role="menu">
                        <li>
                            <a href="#">Settings 1</a>
                        </li>
                        <li>
                            <a href="#">Settings 2</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a class="close-link"><i class="fa fa-close"></i></a>
                </li>
            </ul>
            <div class="clearfix"></div>
        </div>

        <div class="x_content">

            <div class="table-responsive">
                <table class="table table-hover jambo_table bulk_action">
                    <thead>
                        <tr class="headings">
                            <th>
                                <input type="checkbox" id="check-all" class="flat">
                            </th>
                            <th class="column-title">Invoice </th>
                            <th class="column-title">Register Date </th>
                            <th class="column-title">Email </th>
                            <th class="column-title">Status</th>
                            <th class="column-title">Role </th>
                            <th class="column-title">Make Admin </th>
                            <th class="column-title no-link last">
                                <span class="nobr">Delete</span>
                            </th>
                            <th class="bulk-actions" style="display: none;" colspan="7">
                                <a class="antoo" style="color:#fff; font-weight:500;">Bulk Actions ( <span class="action-cnt"> </span> ) <i class="fa fa-chevron-down"></i></a>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="even pointer">
                            <td class="a-center ">
                                <input type="checkbox" class="flat" name="table_records">
                            </td>
                            <td class=" ">121000040</td>
                            <td class=" ">May 23, 2014 11:47:56 PM </td>
                            <td class=" ">121000210 <i class="success fa fa-long-arrow-up"></i></td>
                            <td class=" ">John Blank L</td>
                            <td class=" ">Paid</td>
                            <td class="a-right a-right "><button type="button" class="btn btn-xs btn-success">Admin</button></td>
                            <td class=" last">
                                <button type="button" class="btn btn-xs btn-danger">Delete</button>
                            </td>
                        </tr>
                        <tr class="odd pointer">
                            <td class="a-center ">
                                <input type="checkbox" class="flat" name="table_records">
                            </td>
                            <td class=" ">121000039</td>
                            <td class=" ">May 23, 2014 11:30:12 PM</td>
                            <td class=" ">
                                121000208 <i class="success fa fa-long-arrow-up"></i>
                            </td>
                            <td class=" ">John Blank L</td>
                            <td class=" ">Paid</td>
                            <td class="a-right a-right "><button type="button" class="btn btn-xs btn-success">Admin</button></td>

                            <td class=" last">
                                <button type="button" class="btn btn-round btn-sm btn-danger">Danger</button>
                            </td>
                        </tr>
                     
                    </tbody>
                </table>
            </div>

        </div>
    </div>
</div>

<script src="~/Scripts/js/icheck.js"></script>


<script>
    // iCheck
    $(document).ready(function () {
        if ($("input.flat")[0]) {
            $(document).ready(function () {
                $('input.flat').iCheck({
                    checkboxClass: 'icheckbox_flat-green',
                    radioClass: 'iradio_flat-green'
                });
            });
        }
    });
    // /iCheck

    // Table
    $('table input').on('ifChecked', function () {
        checkState = '';
        $(this).parent().parent().parent().addClass('selected');
        countChecked();
    });
    $('table input').on('ifUnchecked', function () {
        checkState = '';
        $(this).parent().parent().parent().removeClass('selected');
        countChecked();
    });

    var checkState = '';

    $('.bulk_action input').on('ifChecked', function () {
        checkState = '';
        $(this).parent().parent().parent().addClass('selected');
        countChecked();
    });
    $('.bulk_action input').on('ifUnchecked', function () {
        checkState = '';
        $(this).parent().parent().parent().removeClass('selected');
        countChecked();
    });
    $('.bulk_action input#check-all').on('ifChecked', function () {
        checkState = 'all';
        countChecked();
    });
    $('.bulk_action input#check-all').on('ifUnchecked', function () {
        checkState = 'none';
        countChecked();
    });

    function countChecked() {
        if (checkState === 'all') {
            $(".bulk_action input[name='table_records']").iCheck('check');
        }
        if (checkState === 'none') {
            $(".bulk_action input[name='table_records']").iCheck('uncheck');
        }

        var checkCount = $(".bulk_action input[name='table_records']:checked").length;

        if (checkCount) {
            $('.column-title').hide();
            $('.bulk-actions').show();
            $('.action-cnt').html(checkCount + ' Records Selected');
        } else {
            $('.column-title').show();
            $('.bulk-actions').hide();
        }
    }

</script>